.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  border: 2px solid #f03935;
  border-radius: 4px;
}

.wrapper > div {
  padding: 10px;
  background: #f6e58d;
  border: 1px solid #f9ca24;
  border-radius: 4px;
  box-sizing: border-box;
  color: #f03935;
}

.box1 {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.box2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.box3 {
  grid-column: 2;
  grid-row: 1;
}

.box4 {
  grid-column: 2 / span 2;
  grid-row: 3;
}
