ul {
  padding: 0;
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
  border: 2px solid #f03935;
  border-radius: 4px;
}

.wrapper > div,
header,
nav,
article,
aside,
footer {
  padding: 10px;
  background: #f6e58d;
  border: 1px solid #f9ca24;
  border-radius: 4px;
  box-sizing: border-box;
  color: #f03935;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

@media (min-width: 500px) {
  .main-nav ul {
    display: flex;
    justify-content: space-between;
  }
  .content,
  .main-footer {
    grid-column: col-start 4 / span 9;
  }
  .side {
    grid-column: col-start / span 3;
    grid-row: 3;
  }
  .ad {
    grid-column: col-start / span 3;
    grid-row: 4;
  }
}

@media (min-width: 700px) {
  .main-nav {
    grid-column: col-start / span 2;
    grid-row: 2 / span 2;
  }
  .main-nav ul {
    flex-direction: column;
  }
  .content {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / span 2;
  }
  .side {
    grid-column: col-start 11 / span 2;
    grid-row: 2;
  }
  .ad {
    grid-column: col-start 11 / span 2;
    grid-row: 3;
  }
  .main-footer {
    grid-column: col-start / span 12;
  }
}
