.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  border: 2px solid #f03935;
  border-radius: 4px;
}

.wrapper > div {
  padding: 10px;
  background: #f6e58d;
  border: 1px solid #f9ca24;
  border-radius: 4px;
  box-sizing: border-box;
  color: #f03935;
}

.wrapper nav {
  writing-mode: vertical-lr;
}

.wrapper ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em;
  list-style: none;
}

.wrapper a {
  text-decoration: none;
}
